body {
  background: white;
  height: 100vh;
  margin: 0;
}

h1 {
  position: relative;
  text-align: center;
  color: salmon;
  font-size: 30px;
  margin-top: 10px;
  font-family: "Calibri", sans-serif;
}

p {
  font-family: "Calibri", sans-serif;
  font-weight: 50px;
  text-align: center;
  font-size: 30px;
  color: #43c2cd;
  margin-bottom: 40px;
  text-shadow: 2px 1px #0b4c58;
}

img {
  top: 5px;
  border: 1px solid teal;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 430px;
}
